.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

#pizza-item {
  width: 200px;
  margin: 20px;
  padding: 5px;
  border: 1px solid gray;
  box-shadow: 2px 2px 20px;

}

#pizza-img {
  width:100%;
}

#pizza-list {
  display: flex;
  flex-wrap: wrap;
}

.customerInfo {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
 .addressInput {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
 }
 
input {
  margin-top: 20px;
  width: 350px;
  
 } 
