.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

#pizza-item {
  width: 200px;
  margin: 20px;
  padding: 5px;
  border: 1px solid gray;
  box-shadow: 2px 2px 20px;

}

#pizza-img {
  width:100%;
}

#pizza-list {
  display: flex;
  flex-wrap: wrap;
}

.customerInfo {
  display: flexbox;
  flex-direction: column;
  margin: 15px;
}
 .addressInput {
  justify-content: space-between;
 }
 
 /* input {
  
 } */

 #nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%
 }

 #nav-shell {
  display: flex;
  gap: 30px;
 }

 .nav-btn {
  background-color: lightblue;
  padding: 10px;
  color:#222;
 }

 .nav-btn:active {
  background-color: #222;
  color: white;
 }

 #pizza-pic {
  margin-top: 30px;
 }

 #pizza-btn {
  display:flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-bottom: 100px;
 }

 #next-btn {
  width: 150px;
  height: 50px;
 }
