/* .navbar-nav {
    margin-left: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #00ced1;

}
 */



/* .nav-item {
    align-items: center;
} */

/* .navbar {
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: space-between;

} */